/* Container du player audio */
/** biome-ignore-all lint/complexity/noImportantStyles: false */
.ads-player {
	width: 100%;
	max-width: 960px;
	display: block;
	margin: 0 auto;
}

/* Optionnel : pour le poster */
.ads-poster {
	object-fit: cover;
}

.ads-player .vds-audio-layout {
	border: var(--audio-border, 1px solid rgb(255 255 255 / 0.4));
	background: transparent !important;
}
