/* Container du player */
.vds-player {
	width: 100%;
	max-width: 960px;
	aspect-ratio: 16 / 9;
	display: block;
	margin: 0 auto;
}

/* Optionnel : pour le poster */
.vds-poster {
	object-fit: cover;
}
