/** biome-ignore-all lint/complexity/noImportantStyles: false */
:root {
	--bs-body-font-family: "Montserrat", sans-serif;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

*::-webkit-scrollbar {
	display: none;
}

.introjs-tooltip {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: var(--bs-gray) !important;
	background-color: rgba(25, 25, 25, 0.8) !important;
}

.introjs-tooltiptext,
.introjs-tooltipbuttons,
.introjs-donebutton,
.introjs-nextbutton {
	font-family: "Montserrat", sans-serif !important;
}

.introjs-helperLayer {
	box-shadow: none !important;
	z-index: 98 !important;
	width: 0 !important;
	height: 0 !important;
	max-width: 0;
	max-height: 0;
}

.introjs-overlay {
	z-index: 98 !important;
}

.introjs-arrow.left,
.introjs-arrow.right {
	top: 10px !important;
}

.introjs-arrow {
	border-color: transparent transparent transparent rgba(200, 200, 200, 0.5) !important;
}

.introjs-skipbutton:hover {
	color: var(--bs-emphasis-color) !important;
}

.text-bg-next-to-come-badge {
	color: #fff !important;
	background-color: rgba(65, 38, 183, 0.66) !important;
}

#next-to-come-carousel .carousel-item {
	transition: transform 2s ease-in-out !important;
}

#next-to-come-carousel .carousel-control-next-icon,
#next-to-come-carousel .carousel-control-prev-icon {
	filter: invert(0) grayscale(100);
}
