@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@500&family=Raleway&display=swap');

:root {
  --bs-body-font-family: 'Montserrat', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 29%;
}

*::-webkit-scrollbar {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.font-monserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.fs-larger {
  font-size: larger !important;
}

.rotate-90 {
  transform-origin: 0 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}

.bi-rotate-180::before {
  transform: rotate(180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.photo-crop-elipse-portrait {
  border: solid 5px rgba(200, 200, 200, 0.1);
  position: relative;
  width: 150px;
  height: 87px;
  border-radius: 50% / 50%;
  overflow: hidden;
  transform: rotate(-40deg);
}

.photo-crop-elipse-portrait img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
  min-width: 100%;
  min-height: 100%;
}

.bg-color-dark-semi-transparent {
  background-color: rgba(25, 25, 25, 0.8) !important;
}
