@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@500&family=Raleway&display=swap');

:root {
  --bs-body-font-family: 'Montserrat', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

*::-webkit-scrollbar {
  display: none;
}
